@model IEnumerable<QLQUANCATTOC.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChucVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTuyenDung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTuyenDung)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNhanVien">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNhanVien">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNhanVien">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
