@model QLQUANCATTOC.Models.ChiTietHoaDon

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChiTietHoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaThanhToan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienDichVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienDichVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDichVuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDichVuNavigation.MaDichVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSanPhamNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSanPhamNavigation.MaSanPham)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaHoaDon" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
