@model QLQUANCATTOC.Models.ChiTietHoaDon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChiTietHoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaThanhToan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienDichVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienDichVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDichVuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDichVuNavigation.MaDichVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSanPhamNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSanPhamNavigation.MaSanPham)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaHoaDon">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
