@model IEnumerable<QLQUANCATTOC.Models.CuaHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenCuaHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNguoiQuanLyNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenCuaHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNguoiQuanLyNavigation.MaNguoiQuanLy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaCuaHang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaCuaHang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaCuaHang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
